html:lang(en)

html, body, marquee {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 0;
  padding: 0;
  text-align: center;
  word-wrap: break-word;
  font-family: sans-serif;
} 
html::-webkit-scrollbar{
  display: none;
}
body{
  margin-bottom: 100px;
}
p {
  padding-left: 5px;
  padding-right: 5px;
}
.topgif {
  display: block;
  width: 100%;
  border: none;
}
.center {
    display: block;
    width: 100%;
  }
.banner-button {
  background-color: #ffb300;
  display: inline;
  color: #502e5b;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  width: calc(50% / 4.5);
  height: 50px;
  transition-duration: 0.2s;
  float: right;
  border: solid #ffb300 1px;
  border-top: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.banner-button:hover {
  background-color: #502e5b;
  color: #ffb300;
}
.disabled {
  background-color: #502e5b;
  color: #ffb300;
  cursor: not-allowed;
}
.banner-background{
  color: #ffb300;
  flood-color: #ffb300;
}
.face{
  padding: 4.5px !important;
  height: 50px;
  background-image: url('/Images/smile.gif');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 5px;
  border: solid #ffb300 0px;
}
.face:hover{
  background-color: #ffb300;
  background-image: url(Images/woah.png);
}
.banner {
  position: sticky !important;
  display: inline-block;
  width: 100%;
  height: 55px;
  top: 0px;
  background-color: #ffb300;
  z-index: 10;
}
a:link {
    color: #f79100;
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: #f79100;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color: #f74e00;
    background-color: transparent;
    text-decoration: none;
  }
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
body, button{
    background-color: #502e5b;
    color: #ffcd43;
}
.videos{
  display: flex;
  justify-content: center;
}

iframe{
  padding: 0.5rem;
}

svg{
  position: relative;
  display: inline-block;
  left: 0px;
  top: 0px;
}

.banner-waves{
  display: inline-block;
  position: relative;
  width: 100%;
  top: 0px;
  z-index: -10;
  background-image: linear-gradient(#472553 40%, transparent);
}

/*/ project cards and their collector */
.card-collection{
  width: 100%;
}

.card{
  transform-origin: 20px 20px;
  transition: 0.2s;
  display: inline-block;
  position: relative;
  width: 600px;
  height: 700px;
  background-color: #3b1c46;
  vertical-align: top;
  text-align: center;
  border-radius: 15px;
  border-top-left-radius: 50px;
  border: thick solid #28102f;
  box-shadow: 40px 40px 20px -20px #2007278f;
  margin: 25px;
  color: #ffcd43;
  white-space: wrap;
}
.card:hover{
  transition: 0.2s;
  rotate: -2deg;
  scale: 105%;
  margin: 35px;
}
.card-shadow{
  z-index: -1;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 85px;
  left: 85px;
  border-radius: 5px;
  border-top-left-radius: 50px;
  background-color: rgba(0, 0, 0, 0.192);
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.192);
}
.card-title{
  font-size: 32px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 2px;
}
.card-subtitle{
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 20px;
}
.card-desc{
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
  font-size: 20px;
}
.card-ring{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 60px;
}
.card-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* youtube formatting */
.youtube-video{
  width: 85%;
  height: auto;
  margin: 10px;
  aspect-ratio: 16 / 9 !important;
  border-radius: 25px;
  border: 4px dotted #ffb300;
  padding: 0px;
}

/*Footer stuff*/
.footer {
  position: fixed;
  display: inline-block;
  height: 35px;
  width: 100%;
  background-color: #ffb300;
  color: #502e5b !important;
  bottom: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  margin-top: 60px;
}
.footer:link{
  color: #502e5b !important;
  background-color: transparent;
  text-decoration: none;
}
.footer-waves{
  display: inline-block;
  position: absolute;
  width: 100%;
  top: -60px;
  left: 0;
  z-index: -10;
  background-image: linear-gradient(transparent, #472553 60% 50px, transparent 60px);
}
/*scroll menu*/
.scrollable{
  position: relative;
  margin: auto;
  overflow: auto;
  scrollbar-color: #ffb300 #472553;
  white-space: nowrap;
  height: 800px;
  width: 100%;
  mask: linear-gradient(to right, transparent, white 5% 95% , transparent);
  border-radius: 25px;
}
.scrollable-background{
  border: 4px dotted #ffb300;
  position: relative;
  background-color: #5a266b;
  background-image: linear-gradient(to right, #240e2c, #5a266b 20% 80% , #240e2c);
  border-left-width: 0px;
  border-right-width: 0px;
}
/*video styling*/
.video-collection{
  display: inline-grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
}
.video{
  aspect-ratio: 16 / 9 !important;
  border-radius: 25px;
  border: 4px dotted #ffb300;
}
.video.linked{
  width: 80%;
  border: none;
  margin: auto;
}
.video.preview{
  width: 100%;
  height: auto;
}